<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>旅行者探测器系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xadmin.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.js') }} " charset="utf-8"></script>

</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">旅行者探测器系统</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form">
        <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>

<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(login)', function (data) {
                //CSRF的固定写法
                var csrf_token = "{{ csrf_token() }}";

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });


                var _data = {
                    "username": data.field.username,
                    'password': data.field.password,
                };

                console.log(csrf_token);

                $.ajax({
                    type: 'POST',
                    data: _data,
                    url: "{{ url_for('admin.login') }}",
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 200) {

                            window.location.href = data.url_jump;

                        } else {

                            layer.msg(data.msg, {
                                icon: 2,
                                time: 1000,
                            });


                        }
                    }
                });

                return false;
            });
        });
    })
</script>

</body>
</html>